
// fonts
%gilroy-400 {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

%gilroy-500 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

%gilroy-600 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}

%gilroy-700 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}

%gilroy-900 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}



%checkbox-hidden,
%radio-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
