.sidebar {
  &__user-dropdown {
    margin-left: 33px;
    margin-right: 74px;
  }
}
.user-dropdown {
  width: 100%;
  max-width: 216px;
  border-radius: 6px;
  background: #2f2f2f;
  flex: 0 0 auto;
  cursor: pointer;
  &__wrapper {
    display: flex;
    position: relative;
  }
  &__content {
    display: flex;
    padding-top: 17px;
    padding-left: 29px;
    padding-right: 35px;
    padding-bottom: 17px;
  }
  &__avatar {
    margin-right: 9px;
    width: 32px;
    height: 32px;
  }
  &__avatar img {
    border-radius: 50%;
  }
  
  &__position {
    @extend %gilroy-500;
    font-size: 12px;
    color: #fff;
  }
  &__nickname {
    @extend %gilroy-700;
    font-size: 16px;
    color: #fff;
  }
  &__icon {
    position: absolute;
    top: 34px;
    right: 29px;

  }
}
