.section-indicator {
  display: none;
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 700px;
  left: 82px;
  z-index: 996;
  transition: all .2s;
  &__value {
    @extend %gilroy-500;
    font-size: 12px;
    color: #fff;
  }
  &__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    margin-top: 2px;
    width: 1px;
    height: 203px;
    background-color: #fff;
  }
  &__drag {
    width: 3px;
    height: 31px;
    border-radius: 38px;
    background-color: #fff;
  }
}

@media(max-width: 1920px) {
.section-indicator.active {
  transform: translateY(-300px);
}
}


