// .choices > .user-select {
//   padding-left: 30px;
//   border-radius: 6px;
//   background: #2f2f2f!important;
//   &__option {
//   }
//   &__box {
//   }
//   &__avatar {
//   }
//   &__info {
//   }
//   &__position {
//   }
//   &__nickname {
//   }
// }


.userattackhub-send__item{
  .choices {
    margin-top: 12px;
    @extend %gilroy-500;
    font-size: 16px;
    color: #fff;
  }
  .choices__inner {
    border-radius: 6px;
    background: #181618;
  }
  .choices__list {
    background: #181618;
  }
}
