.choices > .user-select {
  padding-left: 30px;
  border-radius: 6px;
  background: #2f2f2f!important;
  &__option {
  }
  &__box {
  }
  &__avatar {
  }
  &__info {
  }
  &__position {
  }
  &__nickname {
  }
}
