.usersettings {
  margin-top: 90px;
  width: 100%;
  max-width: 1370px;
  margin-left: 108px;
  margin-bottom: 220px;
  &__title {
    margin-bottom: 68px;
  }
  &__wrapper {
    display: flex;
    gap: 0 16px;
  }
}
.usersettings-access {
  width: 100%;
  max-width: 589px;
  border-radius: 16px;
  background: #1f1e1f;
  padding: 37px 37px 73px;
  &__title {
    margin-bottom: 56px;
    @extend %gilroy-700;
    font-size: 20px;
    color: #fff;
  }
  &__box {
    margin-bottom: 226px;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
  &__input {
    padding: 18px;
    width: 100%;
    border-radius: 6px;
    background: #181618;
    border: none;
    @extend %gilroy-500;
    font-size: 16px;
    color: #575757;
  }
  &__input::placeholder {
    padding-left: 193px;
    @extend %gilroy-500;
    font-size: 16px;
    color: #575757;
    text-align: start;
  }
  &__btn {
    width: 100%;
    padding: 18px;
    min-height: 56px;
    border-radius: 6px;
    border: none;
    background-color: #2cb576;
    color: #fff;
    @extend %gilroy-700;
    font-size: 16px;
    cursor: pointer;
  }
}
.userplans-table {
  width: 100%;
  max-width: 765px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 33px;
  padding-right: 41px;
  border-radius: 16px;
  background: #1f1e1f;
  &__head {
    margin-bottom: 26px;
    border-radius: 6px;
    background: #2f2f2f;
    padding: 13px 0;
  }
  &__row {
    display: flex;
    @extend %gilroy-500;
    font-size: 16px;
    color: #fff;
  }
  &__plan {
    min-width: 285px;
  }

  &__price {
    min-width: 137px;
  }
  &__date {
    min-width: 106px;
  }
  &__status {
    min-width: 163px;
  }

  &__head .userplans-table__col {
    padding-right: 20px;
  }

  &__head .userplans-table__plan {
    padding-left: 19px;
  }
  &__head .userplans-table__date {
    padding-left: 8px;
  }

  &__head .userplans-table__status {
    padding-left: 5px;
  }

  &__body .userplans-table__row {
    padding: 6px 0;
  }
  &__body .userplans-table__plan {
    padding-left: 5px;
  }
}
