.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: auto;
    padding-right: 15px;
  }

  &__try-our {
    display: none;
  }
  &__signup {
    margin-left: 136px;
  }
}

.logo img {
  width: 100%;
  max-width: 124px;
  object-fit: cover;
}
.menu {
  &__list {
    display: flex;
    gap: 0 136px;
  }

  &__list-link {
    color: #1e1e1e;
    @extend %gilroy-700;
    font-size: 16px;
  }
}

.header-special.header {
  background: transparent;
}
.header-special.header .header__menu {
  display: none;
}

.header-special.header .header__signup {
  margin-left: 54px;
}

.header-special.header .header__try-our {
  display: flex;
  margin-left: 54px;
}

.header-special.header .header__logo {
  align-self: flex-end;
}
